*.log
/target/

.Rhistory
data/
mixed_model.Rout
mixed_model.Rproj
.R.proj.user/


.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
